<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.dallas.networkutils.txrx" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required for subscibing to Wi-Fi Direct events -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- Required for creating sockets -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
